* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex; flex-direction: column; align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    padding: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    max-width: 260px;
    padding: 16px;
    text-align: center;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

.card h1 {
    font-size: 18px;
    margin: 16px 0 8px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: 15px 0;
}
.attribution a { color: hsl(228, 45%, 44%); }